.review-container {
    display: flex;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: normal;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 10px;
    padding-right: 10px;

    h4 {
        font-size: 1.1rem;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    p {
        font-size: 0.95rem;
        color: #666;
    }
}

.reviews-wrapper{
    background-color: #000;
    
    margin-bottom: 20px;
    h3{
        display: inline;
    }

    span{
        margin-left: 5px;;
    }
}

.initials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin: 20px;
    align-self: center;
    font-size: 2rem;
    background-color: #ec5252;
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-transform: uppercase;
}

