//h2 -- startpage --movie title playing now
// //
// The Call of the Wild
// (2020)
// MovieDB 7.3
// Watch Later

//h3 The Call of the Wild, actor name, popular , now in cinemas...

//h4 top billed cast

//so better heading special or heading-title
.heading-main-movie-title {
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
